@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.body {
  background-color: darkgrey;
}

/* header */

header {
  display: flex;
  background-color:aquamarine;
  padding-right: 20px;
  height: 45px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.navbar-brand {
  margin: 0;
  display: flex;
  margin-top: 2px;
}

.good-doctor {
  color: blue;
  height: 34px;
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 0;
}

#btn-enter {
  width: 200px;
  height: 40px;
  margin-top: 2px;
}

#openModalBtn {
  width: 200px;
  margin-right: 5px;
}

#btn-signOut {
  width: 200px;
}

/* visit filter */

#visitFilterForm {
  display: none;
  max-width: 700px;
}

/* form-password */

#form-password {
  background-color: aquamarine;
  margin-top: 30px;
  max-width: 500px;
  display: none;
  border-radius: 5px;
}

.form-label {
  margin: 10px;
}

.form-text {
  margin-left: 10px;
  margin-right: 10px;
}

#btn-submit {
  margin-left: 10px;
  margin-bottom: 10px;
}

/* CSS for modal styles and hiding/showing fields */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  max-width: 500px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

#mainCard {
  display: flex;
  flex-wrap: wrap;
}

/* Card styles*/
.visit-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

/* Styles for advanced information*/
.visit-card.expanded {
  max-width: none;
}

#message {
  display: none;
  font-size: 18px;
  color: red;
}

#card-list {
  list-style-type: none;
  padding: 0;
}

#no-items-message {
  width: 300px;
  height: 100px;
  background-color: #888;
  display: none;
}

#no-items-paragraph {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Стилі для контейнера форми */
#filterForm {
  display: none;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: aquamarine;
  border-radius: 5px;
}


